<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Financy</title>
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/home.css" />
</head>

<body>
  <header>
    <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
      <h1>Financy</h1>
      <li> <a href="/sair">Sair</a></li>
    </div>
    <h1>Início</h1>
    <nav>
      <ul>
        <li><a href="/home">Início</a></li>
        <li><a href="/categorias">Categorias</a></li>
        <li><a href="/cadastro-conta">Contas</a></li>
        <li><a href="/cadastro-usuario">Usuários</a></li>
        <li><a href="/lancamentos">Lançamentos</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section id="lancamentos">
      <h2>Lançamentos do Dia</h2>
      <div class="form-group" style="overflow-x: auto;">
        <div id="conteudoTabela"></div>

        <a style="display: flex; align-items: center; justify-content: end; margin-top: 10px; color: #000;"
          href="/lancamentos">Ver todos os lançamentos <img src="assets/link.png"
            style="height: 30px; width: 30px; pointer-events: none;" alt=""></a>

      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024 Financy. Todos os direitos reservados.</p>
    <p>Developed by: Douglas Rosso.</p>
  </footer>

  <div id="myModal" class="modal"
    style="display: <%= numLancamentosDoDia > 0 || numLancamentosEmAtraso > 0 ? 'block' : 'none' %>;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h1 id="modal-message">Lançamentos do Dia e em Atraso</h1>
      <div>
        <% if (numLancamentosDoDia> 0) { %>
          <p>Você tem <strong>
              <%= numLancamentosEmAtraso %>
            </strong>lançamentos que vencem hoje!</p>
          <% } %>
            <% if (numLancamentosEmAtraso> 0) { %>
              <p>Você tem <strong>
                  <%= numLancamentosEmAtraso %>
                </strong>lançamentos em atraso!</p>
              <% } %>
                <% if (lancamentosNoModal.length> 0) { %>
                  <table>
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Data de Vencimento</th>
                        <th>Valor</th>
                        <th>Descrição</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% lancamentosNoModal.forEach(lancamento=> { %>
                        <tr>
                          <td>
                            <%= lancamento.id %>
                          </td>
                          <td>
                            <%= lancamento.due_date %>
                          </td>
                          <td>
                            <%= lancamento.value %>
                          </td>
                          <td>
                            <%= lancamento.description %>
                          </td>
                        </tr>
                        <% }); %>
                    </tbody>
                  </table>
                  <% } else { %>
                    <p>Não há lançamentos para hoje ou em atraso.</p>
                    <% } %>
      </div>
    </div>
  </div>

  <script async type="module">
    import gerarUUID from "/js/gerarUUID.js";
    import baseApi from "/js/baseApi.js";

    window.addEventListener("load", () => {
      buscarReceitasDespesas();
      
      const hoje = new Date().toISOString().split('T')[0];
      function buscarReceitasDespesas() {
        baseApi("/api/lancamentos")
          .then((response) => response.json())
          .then((data) => {
            const conteudoTabela = document.getElementById("conteudoTabela");
            conteudoTabela.innerHTML = "";

            const lancamentosHoje = data.filter((receitaDespesa) => {
              return receitaDespesa.payment_date === hoje || receitaDespesa.due_date === hoje;
            });

            if (lancamentosHoje.length > 0) {
              lancamentosHoje.sort((a, b) => new Date(a.due_date) - new Date(b.due_date));

              const tabela = document.createElement("table");
              tabela.innerHTML = `
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Tipo</th>
                    <th>Categorias</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Data de vencimento</th>
                    <th>Data da pagamento</th>
                    <th>Conta</th>
                    <th>Status</th>
                    <th>Comentário</th>
                  </tr>
                </thead>
                <tbody></tbody>
              `;

              lancamentosHoje.forEach((receitaDespesa) => {
                const linha = document.createElement("tr");
                linha.innerHTML = `
                  <td>${receitaDespesa.id}</td>
                  <td>${receitaDespesa.type}</td>
                  <td>${receitaDespesa.categories}</td>
                  <td>${receitaDespesa.description}</td>
                  <td>${receitaDespesa.value}</td>
                  <td>${receitaDespesa.due_date}</td>
                  <td>${receitaDespesa.payment_date}</td>
                  <td>${receitaDespesa.account}</td>
                  <td>${receitaDespesa.status}</td>
                  <td>${receitaDespesa.comments}</td>
                `;
                linha.addEventListener("click", () => {
                  const id = receitaDespesa.id;
                  window.location.href = `/receita-despesa/${id}`;
                });
                tabela.querySelector("tbody").appendChild(linha);
              });

              conteudoTabela.appendChild(tabela);
            } else {
              const mensagem = document.createElement("p");
              mensagem.textContent = "Não há lançamentos para hoje.";
              conteudoTabela.appendChild(mensagem);
            }
          })
          .catch((error) =>
            console.error("Erro ao buscar receitas e despesas:", error)
          );
      }

      document.getElementsByClassName('close')[0].addEventListener('click', function () {
        document.getElementById('myModal').style.display = 'none';
      });
    })
  </script>
</body>

</html>